<div class="container" ng-controller="profileController">
  <h3>{{profileuser.name}}'s Bucket List</h3>
  <br>
  <div class="continer">
    <p>Done</p>
    <div class="row" ng-repeat="item in profileuser._items">
      <p ng-if="item.done">
        <input type="checkbox" ng-disabled="(!sameuser || item.taguser !== loggedinuser)" ng-model="newObject[item._id]" ng-change="toggle(item._id)" checked>
        <span>{{item.taguser}} | {{item.title}} - {{item.description}} - {{item.createdAt}}</span>
      </p>
    </div>
  </div>
  <br>
  <div class="continer">
    <p>Pending</p>
    <div class="row" ng-repeat="item in profileuser._items">
      <p ng-if="!item.done">
        <input type="checkbox" ng-disabled="(!sameuser || item.taguser !== loggedinuser)" ng-model="newObject[item._id]" ng-change="toggle(item._id)">
        <span>{{item.taguser}} | {{item.title}} - {{item.description}} - {{item.createdAt}}</span>
      </p>
    </div>
  </div>
</div>